body {
  margin: 0;
  padding: 0;
  font-family: 'Moon Dance', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media only screen and (max-width: 650px) {
  html {
    font-size: 8px;
  }
}

html,
body,
#root,
#root > div {
  height: 100%;
}